# Dependencies
node_modules

# Build
dist
storybook-static

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Playwright
playwright-report
test-results

# Env
.env
.env.local
*.tsbuildinfo
